@model Passion_Project.Models.RecipeDto
@{
    ViewBag.Title = "DeleteConfirm";
}

<div class="main-container">
    <nav>
        <a class="navlink" href="/Recipe/Show/@Model.RecipeId">Cancel</a>
    </nav>
    <h2>Are you sure you want to delete @Model.RecipeName?</h2>
    <p>This action cannot be undone.</p>
    <form method="POST" action="/Recipe/Delete/@Model.RecipeId">
        <button type="submit" class="delbutton">Confirm Delete</button>
    </form>
</div>

