@model Passion_Project.Models.RecipeDto
@{
    ViewBag.Title = "Edit";
}
<div class="main-container">
    <nav>
        <a class="navlink" href="/Recipe/Show/@Model.RecipeId">Go back to Recipe</a>
    </nav>

    <h2>Edit Recipe</h2>

    <form action="/Recipe/Update/@Model.RecipeId" method="POST">
        <div>
            <label for="RecipeName">Name: </label>
            <input type="text" name="RecipeName" value="@Model.RecipeName" />
        </div>
        <div>
            <label for="RecipeIngredient">Ingredients: </label>
            <input type="text" name="RecipeIngredient" value="@Model.RecipeIngredient" />
        </div>
        <div>
            <label for="RecipeInstruction">Instructions: </label>
            <input type="text" name="RecipeInstruction" value="@Model.RecipeInstruction" />
        </div>
        <div>
            <label for="RecipeAuthor">Author: </label>
            <input type="text" name="RecipeAuthor" value="@Model.RecipeAuthor" />
        </div>
        <div>
            <button type="submit">Update</button>
        </div>
    </form>
</div>

