@model IEnumerable<Passion_Project.Models.RecipeDto>
@{
    ViewBag.Title = "List";
}

<div class="main-container">
    <nav>
        <a class="navlink" href="/Recipe/New">Add New Recipe</a>
    </nav>
    <h2>Recipe List</h2>
    @foreach (var Recipe in Model)
    {
        <div class="list-group-item row">
            <div class="col-md-12"><a href="Show/@Recipe.RecipeId">@Recipe.RecipeName</a></div>
        </div>
    }
</div>


