
@{
    ViewBag.Title = "New";
}

<div id="containershow">
    <nav>
        <a class="navlink" href="/Recipe/List">Back to Recipes</a>
    </nav>
    <h2>Create Recipe</h2>

    <form action="/Recipe/Create" method="POST">
        <div>
            <label for="Name">Name: </label><input type="text" name="RecipeName" />
        </div>
        <div>
            <label for="Ingredients">Ingredients: </label><input type="text" name="RecipeIngredient" />
        </div>
        <div>
            <label for="Instructions">Instructions: </label><input type="text" name="RecipeInstruction" />
        </div>
        <div>
            <label for="Author">Author: </label><input type="text" name="RecipeAuthor" />
        </div>
        <div>
            <input type="submit" value="Add Recipe" />
        </div>
    </form>

</div>