@{
    ViewBag.Title = "Home Page";
}

<main>
    <section class="row" aria-labelledby="aspnetTitle">
        <h1 id="title">Recipe Haven</h1>
        <p class="lead">Recipe Haven is a user-friendly application where food lovers share and discover recipes from diverse cuisines worldwide. It features detailed recipes, interactive comments for feedback, and fosters a community centered around culinary exploration and shared passion for cooking.</p>
    </section>
</main>