@model Passion_Project.Models.CommentDto
@{
    ViewBag.Title = "Edit";
}

<div class="main-container">
    <nav>
    <a class="navlink" href="/Recipe/Show/@Model.RecipeId">Back to Recipe</a>
    </nav>
    <h2>Edit Comment</h2>

    <form action="/Comment/Update/@Model.CommentId" method="POST">
        <div>
            <label for="CommentText">Comment: </label>
            <textarea name="CommentText" rows="4" cols="50">@Model.CommentText</textarea>
        </div>
        <div>
            <label for="CommentTime">Time: </label>
            <input type="datetime-local" name="CommentTime" value="@Model.CommentTime.ToString("yyyy-MM-ddTHH:mm:ss")" />
        </div>
        <div>
            <label for="RecipeName">Recipe Name: </label>
            <input type="text" name="RecipeName" value="@Model.RecipeName" />
        </div>
        <div>
            <label for="UserName">User Name: </label>
            <input type="text" name="UserName" value="@Model.UserName" />
        </div>
        <div>
            <button type="submit">Update Comment</button>
        </div>
    </form>
</div>

