@model Passion_Project.Models.CommentDto
@{
    ViewBag.Title = "Show";
}

<div class="main-container">
    <nav>
        <a class="navlink" href="/Comment/list">Go back to list</a>
    </nav>

    <h2></h2>
    <p><strong>CommentId:</strong> @Model.CommentId</p>
    <p><strong>RecipeName:</strong> @Model.RecipeName</p>

    <p><strong>Comment:</strong> @Model.CommentText</p>

    <p><strong>User:</strong> @Model.UserName</p>
</div>